body {
	font-family: "Work Sans", sans-serif;
	font-size: 14px;
	background-color: rgb(255, 242, 242);
}

#instructions h2 {
	font-size: 1rem;
	font-weight: bold;
}

#instructions p {
	color: rgb(74, 74, 74);
	margin-bottom: 40px;
}

.container {
	padding-top: 5.25rem;
}

.container h1 {
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 2.5rem;
	color: rgb(32, 64, 86);
	font-size: 2.1875rem;
  	font-weight: bold;
}

.card {
	height: 12.5rem;
	background-color: rgb(32, 64, 86);
	border: 4px solid #ffffff;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	font-size: 7rem;
	color: rgb(255, 255, 255);
}


.card:hover {
	cursor: pointer;
}

footer {
	text-align: center;
	padding-top: 5.25rem;
	color: rgb(74, 74, 74);
}

fa-heart {
	color: red;
}
